spcp-sidebar {
    background: #ffc73338;
    min-width: 0;
    color: #006799;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 14px;
    line-height: 1.4em;
}